<!DOCTYPE html>
<html>
<head>
    <title>Water Quality Prediction</title>
</head>
<body>
    <h1>Water Quality Prediction</h1>
    <form action="/predict" method="POST">
        <label for="TDS">TDS:</label>
        <input type="text" id="TDS" name="TDS" required><br>
        
        <label for="pH">pH:</label>
        <input type="text" id="pH" name="pH" required><br>
        
        <label for="WaterHardness">Water Hardness Score:</label>
        <input type="text" id="WaterHardness" name="WaterHardness" required><br>
        
        <input type="submit" value="Predict">
    </form>
</body>
</html>